page-apprecier {
    #range-icon{
        font-size: 3em;
    }
    
    ion-label{
        font-size: 1.5em;
    }

    ion-range{
        //font-size: 2em;
        margin-top: 1em;
    }

    ion-badge{
        font-size: 1.5em;
    }
    p {
        font-size: 1.5em;
    }
}
